<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/header.ejs %>
            <h1>Edit restaurant</h1>
            <div class="edit-form">
                <form
                    action="/restaurants/<%=restaurant.id%>?_method=PUT"
                    method="POST"
                >
                    <fieldset class="restaurant-info">
                        <legend>Edit Restaurant Details</legend>
                        <div class="form-group">
                            <label for="name">NAME</label>
                            <input
                                type="text"
                                class="form-control"
                                name="name"
                                value="<%=restaurant.name%>"
                            />
                        </div>
                        <div class="form-group">
                            <label for="name">IMAGE</label>
                            <input
                                type="text"
                                class="form-control"
                                name="img"
                                value="<%=restaurant.img%>"
                            />
                        </div>
                        <div class="form-group">
                            <label for="name">CUISINE</label>
                            <input
                                type="text"
                                class="form-control"
                                name="cuisine"
                                value="<%=restaurant.cuisine%>"
                            />
                        </div>
                        <div class="form-group">
                            <label for="name">CITY</label>
                            <input
                                type="text"
                                class="form-control"
                                name="city"
                                value="<%=restaurant.city%>"
                            />
                        </div>
                        <div class="form-group">
                            <label for="name">ADDRESS</label>
                            <input
                                type="text"
                                class="form-control"
                                name="address"
                                value="<%=restaurant.address%>"
                            />
                        </div>
                        <div class="form-group">
                            <label for="name">POPULAR DISHES</label>
                            <input
                                type="text"
                                class="form-control"
                                name="dishes"
                                value="<%=restaurant.dishes%>"
                            />
                        </div>
                    </fieldset>
                    <input type="submit" value="Edit" />
                </form>
            </div>
        </div>
    </body>
</html>
