<!DOCTYPE html>
<html>
    <head>
        <% include ../partials/head.ejs %>
    </head>
    <body>
        <div class="container">
            <% include ../partials/header.ejs %>
            <h1>My Favorite Restaurants</h1>
            <div class="card-deck">
                <% for(let i = 0; i < restaurants.length; i++) { %>
                <div class="card">
                    <img
                        class="index-image card-image-top"
                        src="<%=restaurants[i].img%>"
                    />
                    <div class="card-body">
                        <h3>
                            <a href="/restaurants/<%=restaurants[i].id%>"
                                ><%=restaurants[i].name%></a
                            >
                        </h3>
                        <p>City: <%=restaurants[i].city%></p>
                        <p>Cuisine: <%=restaurants[i].cuisine%></p>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
    </body>
</html>
